<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Email</td>
			<td>Gender</td>
			<td>Phone</td>
            <td>Edit</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let datas of data">
			<td>{{datas.id}}</td>
			<td>{{datas.username}}</td>
			<td>{{datas.email}}</td>
			<td>{{datas.gender}}</td>
			<td>{{datas.phone}}</td>
            <td><mat-icon (click)="openchild(datas)">edit</mat-icon></td>
		</tr>
	</tbody>
</table>
<button (click)="updateData()"> Update</button>
<p>{{timeLeft}}</p>
<p>{{timerdata}}</p>
<p appColorchange>{{dummy | customstring}}</p>
data
{{sendData}}
<app-edit [sendData]="sendData" (sendDataToParent)="dataFromParent($event)"></app-edit>
{{fromParent | json }} parent