<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="onEvents('about')">About</a>
      <a class="nav-item nav-link" (click)="onEvents('contact')">Contact</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<router-outlet></router-outlet>