<div>
<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Email</td>
			<td>Gender</td>
			<td>Phone</td>
			
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let datas of data">
			<td>{{datas.id}}</td>
			<td>{{datas.username}}</td>
			<td>{{datas.email}}</td>
			<td>{{datas.gender}}</td>
			<td>{{datas.phone}}</td>
			
		</tr>
	</tbody>
</table>
</div>